{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card p-4">
      <h3 class="mb-2">Set New Password</h3>
      <div class="text-muted mb-3">Email: <b>{{ email }}</b></div>
      <form method="post">
        <label class="form-label">New Password</label>
        <input name="password" type="password" class="form-control" required>

        <label class="form-label mt-3">Confirm Password</label>
        <input name="confirm" type="password" class="form-control" required>

        <button class="btn btn-primary w-100 mt-4">Update Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
